/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lobster&family=Playfair+Display:ital,wght@1,600&family=Poppins:wght@400;500&display=swap');

/* common style  */
body {
    font-family: 'Poppins', sans-serif;
    margin: 5% 10%;
}

/* top section */
.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 7%;
}

.article {
    width: 500px;
}

.article h1 {
    font-size: 2.5em;
}

.article a {
    text-decoration: none;
    color: whitesmoke;
    background-color: rgb(108, 83, 117);
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 500;
    font-size: 15px;
}

.article img {
    width: 500px;
}

.article:hover img {
    transform: scale(1.2);
    transition: transform 2s ease-in-out;
}

/* middle section */
.middle-section {
    padding-bottom: 30px;
}

#second-headline {
    text-align: center;
    font-size: 34px;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    justify-content: center;
}

.product {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 05px 05px 20px rgb(187, 187, 187);
}

.product-photo img {

    width: 320px;
}

.product-title {
    font-size: 22px;
}

.product-price {
    font-size: 18px;
}

.product-ratting {
    font-size: 11px;
}

.fa-star {
    color: #FFC014;
}

.product-info p a {
    text-decoration: none;
    color: rgb(100, 92, 92);
    font-size: 15px;
}

#button {
    padding-top: 30px;
    text-align: right;
}

#see-more {
    text-decoration: none;
    color: rgb(109, 27, 139);
    font-size: 18px;
    font-weight: 700;
}

/* footer */
footer {
    background-color: rgb(35, 5, 46);
    padding-top: 1px;
    padding-bottom: 15px;
    color: rgb(228, 227, 227);
    text-align: center;

}

footer h3 {
    font-size: 20px;
}

footer p {
    font-size: 14px;
}

.icons {
    display: flex;
    justify-content: center;
}

.icon {
    padding-left: 15px;
}

/* Midia Queries */
/* Mobile Devices */
@media only screen and (max-width:688px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .article img {
        width: 250px;
        margin-top: 20px;
        margin-left: 20px;
    }

    .middle-section {
        width: 100%;
    }

    .products {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }
}

@media only screen and (min-width: 689px) and (max-width:992px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .article img {
        width: 250px;
        padding-top: 40px;
        padding-left: 120px;
    }

    .products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }

    footer {
        width: 100%;
    }
}